<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TKChat/face/icon_bq1.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,62},{54,57}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq10.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,118},{54,56}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq11.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,120},{54,56}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq12.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,2},{54,59}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq13.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,2},{55,50}}</string>
				<key>offset</key>
				<string>{4,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq14.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,2},{54,59}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq15.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,179},{54,53}}</string>
				<key>offset</key>
				<string>{4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq16.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,2},{56,59}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq17.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{63,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq18.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,59},{56,58}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq19.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,119},{54,57}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,66},{56,57}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq20.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,2},{62,55}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq21.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,2},{54,53}}</string>
				<key>offset</key>
				<string>{4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq22.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,2},{55,48}}</string>
				<key>offset</key>
				<string>{4,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq23.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,2},{56,56}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq24.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,121},{54,56}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq25.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,126},{54,56}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq26.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,63},{54,60}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq27.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,121},{54,56}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq28.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,179},{54,55}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq29.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,60},{56,55}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq3.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,2},{54,53}}</string>
				<key>offset</key>
				<string>{4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq30.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,2},{55,38}}</string>
				<key>offset</key>
				<string>{3,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,184},{54,54}}</string>
				<key>offset</key>
				<string>{4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq5.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,61},{56,58}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq6.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,60},{54,58}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq7.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,2},{60,57}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq8.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,2},{64,53}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>TKChat/face/icon_bq9.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,177},{56,54}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>chatFace.png</string>
			<key>realTextureFileName</key>
			<string>chatFace.png</string>
			<key>size</key>
			<string>{807,240}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>807</integer>
			<key>height</key>
			<integer>240</integer>
		</dict>
	</dict>
</plist>